{% extends 'base.html' %}
{% load static %}
{% block body %}

    <main>
        <!-- BREADCRUMB SECTION START -->
        <section style="background-image: url('{{ course.image.url }}');"  class="pt-[127px] xl:pt-[143px] lg:pt-[120px] sm:pt-[100px] xxs:pt-[80px] pb-[158px] xl:pb-[118px] lg:pb-[98px] sm:pb-[68px] xs:pb-[48px] text-center bg-[url('../../{% static 'img/breadcrumb-bg.jpg' %}')] bg-no-repeat bg-cover bg-center relative z-[1] overflow-hidden before:absolute before:-z-[1] before:inset-0 before:bg-edblue/70 before:pointer-events-none">
            <div class="mx-[19.71%] xxxl:mx-[14.71%] xxl:mx-[9.71%] xl:mx-[5.71%] md:mx-[12px]">
                <h1 class="font-semibold text-[clamp(35px,6vw,56px)] text-white">{{ course.name }}</h1>
                <ul class="flex items-center justify-center gap-[10px] text-white">
                    <li><a href="{% url 'home' %}" class="text-edyellow">Home</a></li>
                    <li><span class="text-[12px]"><i class="fa-solid fa-angle-double-right"></i></span></li>
                    <li><a href="{% url 'course_list' %}" class="text-edyellow">Courses</a></li>
                    <li><span class="text-[12px]"><i class="fa-solid fa-angle-double-right"></i></span></li>
                    <li>{{ course.name }}</li>
                </ul>
            </div>

            <div class="vectors">
                <img src="{% static 'img/breadcrumb-vector-1.svg' %}" alt="vector" class="absolute -z-[1] pointer-events-none bottom-[34px] left-0 xl:left-auto xl:right-[90%]">
                <img src="{% static 'img/breadcrumb-vector-2.svg' %}" alt="vector" class="absolute -z-[1] pointer-events-none bottom-0 right-0 xl:right-auto xl:left-[60%]">
            </div>
        </section>
        <!-- BREADCRUMB SECTION END -->


        <!-- main content -->
        <div class="py-[120px] xl:py-[80px] md:py-[60px]">
            <div class="mx-[19.71%] xxxl:mx-[14.71%] xxl:mx-[9.71%] xl:mx-[5.71%] md:mx-[12px]">
                <!-- cover -->
                <div class="rounded-[8px] overflow-hidden relative z-[2] before:absolute before:inset-0 before:-z-[0] before:bg-edpurple/20 mb-[40px] md:mb-[25px] xs:mb-[15px]">
                    
                    <video width="1170" height="552" controls>
                        <source src="{% static 'video.mp4' %}" type="video/mp4">
                      </video>

                    
                </div>

                <!-- txt -->
                <div class="flex gap-[30px] lg:gap-[20px] md:flex-col md:items-center">
                    {% for course in courses %}
                    <div class="left max-w-full grow">
                        <div>
                            <h4 class="font-semibold text-[30px] lg:text-[27px] xs:text-[25px] xxs:text-[23px] text-edblue mb-[23px]">{{course.title}}</h4>

                            <!-- course meta -->
                            <div class="border-b border-[#E5E5E5] pb-[25px] flex xs:flex-wrap items-center gap-[60px] lg:gap-[40px] xs:gap-[20px] mb-[34px]">
                                <!-- single info -->
                                <div class="flex items-center gap-[10px] border-l border-[#CDCDCD] first:border-none pl-[10px] first:pl-0">
                                    <!-- <img src="{{ teacher.image.url }}" alt="Course Instructor" class="w-[52px] aspect-square rounded-full object-cover"> -->
                                    <div>
                                        <h6 class="font-medium text-edblue leading-[1.2]">Teacher</h6>
                                        <span class="font-medium text-[14px] text-edgray leading-[1]">{% for teacher in course.teachers.all %}{{ teacher.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
                                    </div>
                                </div>

                                <!-- single info -->
                                <div class="flex items-center gap-[10px] border-l border-[#CDCDCD] first:border-none pl-[10px] first:pl-0">
                                    <div>
                                        <h6 class="font-medium text-edblue leading-[1.2]">Category</h6>
                                        <span class="font-medium text-[14px] text-edgray leading-[1]">{{course.category}}</span>
                                    </div>
                                </div>

                                <!-- single info -->
                                <div class="flex items-center gap-[10px] border-l border-[#CDCDCD] first:border-none pl-[10px] first:pl-0">
                                    <div>
                                        <h6 class="font-medium text-edblue leading-[1.2]">Reviews</h6>
                                        <div class="flex gap-[7px] text-[#FFA41B] text-[14px] mt-[6px]">
                                            <span>{{ average_rating }}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex items-center gap-[10px] border-l border-[#CDCDCD] first:border-none pl-[10px] first:pl-0">
                                    <div>
                                        <h6 class="font-medium text-edblue leading-[1.2]">Price</h6>
                                        <div class="flex gap-[7px] text-[#FFA41B] text-[14px] mt-[6px]">
                                            <span>{{ course.price }} {{ course.currency.code3 }}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- tabs container -->
                            <div>
                                <div class="ed-course-details-tabs">
                                    <!-- tab 01 -->
                                    <div id="overview" class="ed-tab duration-[400ms] active">
                                        <div>
                                            <h4 class="font-semibold text-[30px] lg:text-[27px] xs:text-[25px] xxs:text-[23px] text-edblue mt-[28px] mb-[15px]">Course Descriptions</h4>
                                            <div class="space-y-[10px]">
                                                <p class="text-edgray">{{course.description}}</p>
                                                </div>
                                        </div>

                                        <div>
                                            <h4 class="font-semibold text-[30px] lg:text-[27px] xs:text-[25px] xxs:text-[23px] text-edblue mt-[28px] mb-[15px]">Requirements for The Course</h4>
                                            <div class="space-y-[10px]">
                                                <p class="text-edgray">{{course.requirements}}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- tab 02 -->
                                    <div id="curriculum" class="ed-tab duration-[400ms]">
                                        <div class="mb-[10px]">
                                            <h4 class="font-semibold text-[30px] lg:text-[27px] xs:text-[25px] xxs:text-[23px] text-edblue mt-[28px] mb-[15px]">Course Curriculum</h4>
                                            <div class="space-y-[10px]">
                                                <p class="text-edgray">Consectetur adipisicing elit, sed do eiusmod tempor is incididunt ut labore et dolore of magna aliqua. Ut enim ad minim veniam, made of owl the quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea dolor commodo consequat. Duis aute irure and dolor in reprehenderit.</p>
                                            </div>
                                        </div>

                                        <!-- curriculum #1 -->
                                        <div class="mt-[32px]">
                                            <h5 class="font-semibold text-[20px] text-edblue mb-[16px]">Subjects/Courses</h5>

                                            <div class="space-y-[12px]">
                                                <!-- single curriculum -->
                                                <div class="px-[16px] py-[14px] flex flex-wrap gap-[10px] items-center justify-between bg-edpurple/[6%] rounded-[8px]">
                                                    <!-- left -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <span><img src="{% static 'img/icon/lesson-purple.svg' %}" alt="icon"></span>
                                                        <span class="text-edblue">Lessons 1: Introduction</span>
                                                    </div>

                                                    <!-- right -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <button class="text-[10px] bg-edpurple rounded-[2px] text-white px-[8px] py-[2.5px]">Preview</button>
                                                        <span class="icon"><img src="{% static 'img/icon/checkmark.svg' %}" alt=""></span>
                                                    </div>
                                                </div>

                                                <!-- single curriculum -->
                                                <div class="px-[16px] py-[14px] flex flex-wrap gap-[10px] items-center justify-between bg-edpurple/[6%] rounded-[8px]">
                                                    <!-- left -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <span><img src="{% static 'img/icon/lesson-purple.svg' %}" alt="icon"></span>
                                                        <span class="text-edblue">Lessons 2: Basic Tool</span>
                                                    </div>

                                                    <!-- right -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <button class="text-[10px] bg-edyellow rounded-[2px] text-white px-[8px] py-[2.5px]">7 Minutes</button>
                                                        <span class="icon"><img src="{% static 'img/icon/lock.svg' %}" alt=""></span>
                                                    </div>
                                                </div>

                                                <!-- single curriculum -->
                                                <div class="px-[16px] py-[14px] flex flex-wrap gap-[10px] items-center justify-between bg-edpurple/[6%] rounded-[8px]">
                                                    <!-- left -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <span><img src="{% static 'img/icon/lesson-purple.svg' %}" alt="icon"></span>
                                                        <span class="text-edblue">Lessons 3: Images optimizes</span>
                                                    </div>

                                                    <!-- right -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <button class="text-[10px] bg-edyellow rounded-[2px] text-white px-[8px] py-[2.5px]">18 Minutes</button>
                                                        <span class="icon"><img src="{% static 'img/icon/lock.svg' %}" alt=""></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- curriculum #2 -->
                                        <div class="mt-[32px]">
                                            <h5 class="font-semibold text-[20px] text-edblue mb-[16px]">Advanced Topic</h5>


                                            <div class="space-y-[12px]">
                                                <!-- single curriculum -->
                                                <div class="px-[16px] py-[14px] flex flex-wrap gap-[10px] items-center justify-between bg-edpurple/[6%] rounded-[8px]">
                                                    <!-- left -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <span><img src="{% static 'img/icon/lesson-purple.svg' %}" alt="icon"></span>
                                                        <span class="text-edblue">Lessons 4: Color Selection</span>
                                                    </div>

                                                    <!-- right -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <button class="text-[10px] bg-edyellow rounded-[2px] text-white px-[8px] py-[2.5px]">7 Minutes</button>
                                                        <span class="icon"><img src="{% static 'img/icon/checkmark.svg' %}" alt=""></span>
                                                    </div>
                                                </div>

                                                <!-- single curriculum -->
                                                <div class="px-[16px] py-[14px] flex flex-wrap gap-[10px] items-center justify-between bg-edpurple/[6%] rounded-[8px]">
                                                    <!-- left -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <span><img src="{% static 'img/icon/lesson-purple.svg' %}" alt="icon"></span>
                                                        <span class="text-edblue">Lessons 5: Typography</span>
                                                    </div>

                                                    <!-- right -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <button class="text-[10px] bg-edyellow rounded-[2px] text-white px-[8px] py-[2.5px]">7 Minutes</button>
                                                        <span class="icon"><img src="{% static 'img/icon/lock.svg' %}" alt=""></span>
                                                    </div>
                                                </div>

                                                <!-- single curriculum -->
                                                <div class="px-[16px] py-[14px] flex flex-wrap gap-[10px] items-center justify-between bg-edpurple/[6%] rounded-[8px]">
                                                    <!-- left -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <span><img src="{% static 'img/icon/lesson-purple.svg' %}" alt="icon"></span>
                                                        <span class="text-edblue">Lessons 6: Template Design</span>
                                                    </div>

                                                    <!-- right -->
                                                    <div class="flex items-center gap-[10px]">
                                                        <button class="text-[10px] bg-edyellow rounded-[2px] text-white px-[8px] py-[2.5px]">18 Minutes</button>
                                                        <span class="icon"><img src="{% static 'img/icon/lock.svg' %}" alt=""></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- tab 03 -->
                                    <div id="instructor" class="ed-tab duration-[400ms]">
                                        <div class="flex sm:flex-col items-center md:items-start gap-x-[30px] gap-y-[15px] mt-[40px]">
                                            <div class="img shrink-0">
                                                <img src="{% static 'img/teacher-2.jpg' %}" alt="team member image" class="w-[270px] xxs:max-w-full aspect-[74/75] rounded-[12px]">
                                            </div>

                                            <!-- txt -->
                                            <div class="txt">
                                                <h3 class="text-[22px] xxs:text-[20px] font-semibold">Savannah Nguyen</h3>
                                                <h6 class="text-edgray font-medium text-[16px]">Maths Teacher</h6>
                                                <p class="font-normal text-[16px] text-edgray mt-[9px]">Adipiscing elit. Mauris viverra nisl quis mollis laoreet. Ut eget lacus a felis accumsan pharetra in dignissim enim. In amet odio mollis urna aliquet volutpat. Sed</p>
                                                <ul class="infos border-y border-[#E5E5E5] mt-[21px] lg:mt-[18px] mb-[20px] py-[18px] lg:py-[14px] xs:py-[11px] flex flex-wrap gap-x-[40px] xl:gap-x-[20px] gap-y-[10px] text-[16px] text-etBlack">
                                                    <li class="text-[16px]"><span class="font-medium text-edpurple">Experience:</span> 10 Years</li>
                                                    <li class="text-[16px]"><span class="font-medium text-edpurple">Position:</span> Maths Teacher</li>
                                                </ul>

                                                <!-- social links -->
                                                <div class="flex items-center gap-[16px]">
                                                    <h6 class="text-edpurple font-medium">Social Media</h6>
                                                    <div class="flex gap-[20px] text-[16px] text-edpurple">
                                                        <a href="#" class="hover:text-edblue"><i class="fa-brands fa-facebook-f"></i></a>
                                                        <a href="#" class="hover:text-edblue"><i class="fa-brands fa-instagram"></i></a>
                                                        <a href="#" class="hover:text-edblue"><i class="fa-brands fa-linkedin-in"></i></a>
                                                        <a href="#" class="hover:text-edblue"><i class="fa-brands fa-x-twitter"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- tab 04 -->
                                    <div id="reviews" class="ed-tab duration-[400ms]">
                                        <div class="ed-course-details-review mt-[40px]">

                                            <!-- reviews -->
                                            <h4 class="font-semibold text-[30px] lg:text-[27px] xs:text-[25px] xxs:text-[23px] mb-[28px]">Reviews</h4>
                                            <div class="user-reviews space-y-[30px]">
                                                <!-- single review -->
                                                <div class="et-event-details-review flex xxs:flex-col items-start gap-[15px] pb-[30px] border-b border-[#e5e5e5] last:border-none last:pb-0">
                                                    <div class="user-img rounded-full overflow-hidden w-[60px] h-[60px] shrink-0">
                                                        <img src="{% static 'img/instructor-2.jpg' %}" alt="user" class="object-cover w-full max-w-full max-h-full">
                                                    </div>

                                                    <div>
                                                        <div class="flex items-center justify-between mb-[9px]">
                                                            <div class="user-info">
                                                                <h5 class="user-name font-semibold text-[18px] mb-[4px]">Ronald Richards</h5>
                                                                <h6 class="text-edgray">February 10, 2024 at 2:37 pm</h6>
                                                            </div>

                                                            <div class="review-rating flex gap-[7px] text-[14px] text-[#FFA41B] shrink-0">
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                            </div>
                                                        </div>

                                                        <div class="review">
                                                            <p class="text-edgray leading-[1.8]">
                                                                Aenean blandit justo ac rutrum hendrerit. Vivamus ultrices vulputate ante eget convallis. Donec id ex ut tellus blandit aliquet. Morbi varius
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- single review -->
                                                <div class="et-event-details-review flex xxs:flex-col items-start gap-[15px] pb-[30px] border-b border-[#e5e5e5] last:border-none last:pb-0">
                                                    <div class="user-img rounded-full overflow-hidden w-[60px] h-[60px] shrink-0">
                                                        <img src="{% static 'img/user-2.png' %}" alt="user" class="object-cover w-full max-w-full max-h-full">
                                                    </div>

                                                    <div>
                                                        <div class="flex items-center justify-between mb-[9px]">
                                                            <div class="user-info">
                                                                <h5 class="user-name font-semibold text-[18px] mb-[4px]">Eliza nolan</h5>
                                                                <h6 class="text-edgray">February 10, 2024 at 2:37 pm</h6>
                                                            </div>

                                                            <div class="review-rating flex gap-[7px] text-[14px] text-[#FFA41B] shrink-0">
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                                <i class="fa-solid fa-sharp fa-star"></i>
                                                            </div>
                                                        </div>

                                                        <div class="review">
                                                            <p class="text-edgray leading-[1.8]">
                                                                Aenean blandit justo ac rutrum hendrerit. Vivamus ultrices vulputate ante eget convallis. Donec id ex ut tellus blandit aliquet. Morbi varius
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Review Form BLOCK -->
                            <div class="mt-[50px]">
                                <h5 class="font-semibold text-[22px] text-edblue mb-[17px]">Write a Review</h5>

                                <!-- إدخال رقم التقييم بين 0 و 5 -->
                                <input type="number" id="rating-input" min="0" max="5" step="1" placeholder="Rate (0-5)" class="w-full mb-3 p-2 border border-gray-300 rounded" style="margin: 10px;">

                                <button id="submit-review" class="mt-3 bg-edblue text-white px-4 py-2 rounded" style="margin: 10px;">Submit Review</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- right sidebar -->
                    <div class="right h-full sticky top-[120px] max-w-full w-[370px] lg:w-[300px] shrink-0 space-y-[30px]">
                        <!-- COURSE INFORMATION -->
                        <div class="border border-[#e5e5e5] rounded-[10px] px-[30px] lg:px-[20px] xxs:px-[15px] py-[35px] lg:py-[25px] xxs:py-[25px]">
                            <h5 class="font-semibold text-[24px] text-edblue mb-[20px]">Course includes:</h5>

                            <ul class="mb-[30px]">
                                <li class="py-[15px] flex flex-wrap gap-[10px] items-center justify-between border-t border-[#e5e5e5] last:border-b">
                                    <span class="flex items-center gap-[8px] font-semibold text-edblue">
                                        <span class="icon"><img src="{% static 'img/icon/calender-purple.svg' %}" alt="icon"></span>
                                        <span>Level:</span>
                                    </span>
                                    <span class="text-[15px] text-edgray">{{course.level}}</span>
                                </li>

                                <li class="py-[15px] flex flex-wrap gap-[10px] items-center justify-between border-t border-[#e5e5e5] last:border-b">
                                    <span class="flex items-center gap-[8px] font-semibold text-edblue">
                                        <span class="icon"><img src="{% static 'img/icon/clock-purple.svg' %}" alt="icon"></span>
                                        <span>Duration:</span>
                                    </span>
                                    <span class="text-[15px] text-edgray">{{course.duration_format }}</span>
                                </li>

                                <li class="py-[15px] flex flex-wrap gap-[10px] items-center justify-between border-t border-[#e5e5e5] last:border-b">
                                    <span class="flex items-center gap-[8px] font-semibold text-edblue">
                                        <span class="icon"><img src="{% static 'img/icon/lesson-purple.svg' %}" alt="icon"></span>
                                        <span>Lessons:</span>
                                    </span>
                                    <span class="text-[15px] text-edgray">{{course.lessons.count}}</span>
                                </li>

                                <li class="py-[15px] flex flex-wrap gap-[10px] items-center justify-between border-t border-[#e5e5e5] last:border-b">
                                    <span class="flex items-center gap-[8px] font-semibold text-edblue">
                                        <span class="icon"><img src="{% static 'img/icon/user-group-purple.svg' %}" alt="icon"></span>
                                        <span>Students:</span>
                                    </span>
                                    <span class="text-[15px] text-edgray">{{ num_enrollments }}</span>
                                </li>
                            </ul>

                            <div class="space-y-[12px]">
                                <button class="ed-btn !h-[56px] !rounded-[8px] w-full !bg-transparent border border-edpurple !text-edpurple hover:!bg-edpurple hover:!text-white">Add to cart</button>
                                <a href="#" class="ed-btn gap-[10px] !h-[56px] !rounded-[8px] w-full">Join this Course <span><i class="fa-solid fa-arrow-right-long"></i></span></a>
                            </div>

                            <!-- social links -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}