{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans "Learning Board" %}{% endblock title %}
{% block body %}
<main>
    <section class="pt-[127px] xl:pt-[143px] lg:pt-[120px] sm:pt-[100px] xxs:pt-[80px] pb-[158px] xl:pb-[118px] lg:pb-[98px] sm:pb-[68px] xs:pb-[48px] text-center bg-[url('../assets/img/breadcrumb-bg.jpg')] bg-no-repeat bg-cover bg-center relative z-[1] overflow-hidden before:absolute before:-z-[1] before:inset-0 before:bg-edblue/70 before:pointer-events-none">
        <div class="mx-[19.71%] xxxl:mx-[14.71%] xxl:mx-[9.71%] xl:mx-[5.71%] md:mx-[12px]">
            <h1 class="font-semibold text-[clamp(35px,6vw,56px)] text-white">{% trans "Learning Board" %}</h1>
            <ul class="flex items-center justify-center gap-[10px] text-white">
                <li><a href="{% url 'home' %}" class="text-edyellow">{% trans "Home" %}</a></li>
                <li><span class="text-[12px]"><i class="fa-solid fa-angle-double-right"></i></span></li>
                <li>{% trans "Learning Board" %}</li>
            </ul>
        </div>
        <div class="vectors">
            <img src="{% static 'img/breadcrumb-vector-1.svg' %}" alt="vector" class="absolute -z-[1] pointer-events-none bottom-[34px] left-0 xl:left-auto xl:right-[90%]">
            <img src="{% static 'img/breadcrumb-vector-2.svg' %}" alt="vector" class="absolute -z-[1] pointer-events-none bottom-0 right-0 xl:right-auto xl:left-[60%]">
        </div>
    </section>
    <div class="ed-event-details-content py-[120px] xl:py-[80px] md:py-[60px]">
        <div class="mx-[19.71%] xxxl:mx-[14.71%] xxl:mx-[9.71%] xl:mx-[5.71%] md:mx-[12px]">
            <div class="flex gap-[30px] lg:gap-[20px] md:flex-col md:items-center">
                <!-- left content -->
                <div class="left grow space-y-[30px] md:space-y-[20px]">
                    {% if enrolled_courses.courses.exists %}
                    <div class="grid grid-cols-3 md:grid-cols-2 xxs:grid-cols-1 gap-[30px] lg:gap-[20px]">
                        {% for course in enrolled_course.courses.all %}
                        <div class="ed-2-single-course mix personal-skill border border-[#e5e5e5] rounded-[10px] p-[20px] group">
                            <div class="relative overflow-hidden rounded-[10px] mb-[24px]">
                                <img src="{{course.image.url}}" alt="{{ course.name }}" class="aspect-[330/223] w-full object-cover group-hover:scale-110">
                                <span class="absolute bg-edyellow px-[10px] h-[33px] flex gap-[8px] items-center top-[16px] left-[16px] rounded-[6px]">
                                    <span class="icon"><img src="{% static 'img/icon/clock.svg' %}" alt="icon"></span>
                                    <span class="txt">{{ course.duration_format }}</span>
                                </span>
                            </div>
                            <div class="flex justify-between items-center mb-[16px]">
                                <span class="inline-flex items-center justify-center border border-[#e5e5e5] px-[10px] h-[33px] rounded-[6px] font-medium text-[#808080] text-[14px]">{{ course.level }}</span>
                                <span class="text-edpurple font-semibold text-[20px]">{{ course.price }} {{ course.currency.code3 }}</span>
                            </div>
                            <h5 class="font-semibold text-[20px] text-edblue mb-[23px]"><a href="{% url 'course_details' course.slug %}" class="hover:text-edpurple">{{ course.name }}</a></h5>
                            <div class="flex flex-wrap items-center gap-x-[30px] gap-y-[10px]">
                                <div class="flex items-center gap-[8px] text-[14px] text-edgray">
                                    <span class="icon"><img src="{% static 'img/icon/lesson.svg' %}" alt="icon"></span>
                                    <span class="txt">{{ course.lessons.count }} Lesson</span>
                                </div>
                            </div>
                            <div class="flex flex-wrap gap-x-[20px] gap-y-[15px] justify-between items-center border-t border-[#E5E5E5] pt-[24px] mt-[24px]">
                                <!-- course author -->
                                <div class="flex items-center gap-[8px]">
                                    {% for teacher in course.teachers.all %}
                                    {% comment %}
                                    <img src="{{ teacher.image.url }}" alt="{{ teacher.name }}" class="w-[34px] aspect-square object-cover">
                                    {% endcomment %}
                                    <a href="{% url 'teacher_details' teacher.slug %}" class="hover:text-edpurple">{{ teacher }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="border border-[#e5e5e5] rounded-[10px] p-[20px]">
                        <h5 class="font-semibold text-[20px] text-edblue mb-[23px] text-center">{% trans "You have not enrolled any course yet." %}</h5>
                        <div class="text-center">
                            <a href="{% url 'course_list' %}" class="ed-btn !rounded-full !bg-transparent border border-edpurple !text-edpurple hover:!bg-edpurple hover:!text-white">{% trans "Browse Courses" %}</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <!-- right content -->
                <div class="right max-w-full w-[370px] lg:w-[360px] shrink-0 space-y-[30px] md:space-y-[25px]">
                    <div class="border border-[#e5e5e5] rounded-[10px] px-[30px] xxs:px-[15px] py-[35px] xxs:py-[25px]">
                        <h5 class="font-semibold text-[24px] text-edblue mb-[20px]">{% trans "Student Information" %} 
                            <a href="" class="hover:text-edpurple float-right">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </h5>

                        <ul class="mb-[30px]">
                            <li class="py-[15px] flex flex-wrap gap-[10px] items-center justify-between border-t border-[#e5e5e5] last:border-b">
                                <span class="flex items-center gap-[5px] font-semibold text-edblue">
                                    <span class="icon"><img src="{% static 'img/icon/user.svg' %}" alt="icon"></span>
                                    <span>{% trans "Name" %}:</span>
                                </span>
                                <span class="text-[15px] text-edgray">{{ user.student.name }}</span>
                            </li>

                            <li class="py-[15px] flex flex-wrap gap-[10px] items-center justify-between border-t border-[#e5e5e5] last:border-b">
                                <span class="flex items-center gap-[5px] font-semibold text-edblue">
                                    <span class="icon"><img src="{% static 'img/icon/mail-purple.svg' %}" alt="icon"></span>
                                    <span>{% trans "Email" %}:</span>
                                </span>
                                <span class="text-[15px] text-edgray">{{ user.student.email }}</span>
                            </li>

                            <li class="py-[15px] flex flex-wrap gap-[10px] items-center justify-between border-t border-[#e5e5e5] last:border-b">
                                <span class="flex items-center gap-[5px] font-semibold text-edblue">
                                    <span class="icon"><img src="{% static 'img/icon/phone-volume.svg' %}" alt="icon"></span>
                                    <span>{% trans "Phone" %}:</span>
                                </span>
                                <span class="text-[15px] text-edgray">{{ user.student.phone_number }}</span>
                            </li>
                        </ul>

                        <a href="#" class="ed-btn gap-[10px] !h-[56px] !rounded-[8px] w-full">Get Ticket Now <span><i class="fa-solid fa-arrow-right-long"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}