{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edutics</title>
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/x-icon">

    <!-- plugins & libraries css -->
    <link rel="stylesheet" href="{% static 'vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slim-select/slimselect.css' %}">

    <!-- tailwind css -->
    <link rel="stylesheet" href="{% static 'src/output.css' %}">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- HEADER SECTION START -->
<header
class="bg-edblue ed-header--2 relative z-[2] px-[7.9%] xxxxl:px-[6.5%] xxxl:px-[1%] lg:px-[15px] py-[25px] xxs:py-[16px] flex items-center justify-between to-be-fixed">
<div class="logo xxs:max-w-[40%]"><a href="{% url 'home' %}"><img src="{% static 'img/logo-light.png' %}" alt="logo"
            class="logo"></a></div>

<div class="flex lg:items-center lg:gap-[30px]">
    <div class="flex lg:flex-col items-center gap-[60px] xxl:gap-[25px] xl:gap-[30px] md:gap-y-[15px]">
        <!-- search form -->
        

        <!-- nav -->
        <ul class="to-go-to-sidebar-in-mobile ed-header-nav flex lg:flex-col gap-x-[43px] xxl:gap-x-[33px] font-kanit text-[17px] font-normal">
            <li class="has-sub-menu relative">
                <a role="button" href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="about.html">About us</a>
            </li>
            <li class="has-sub-menu relative">
                <a role="button" href="{% url 'courses' %}">Courses</a>
            </li>
            <li class="has-sub-menu relative">
                <a role="button">Pages</a>
            </li>
            <li>
                <a href="{% url 'teachers' %}">Teachers</a>
            </li>
            <li class="has-sub-menu relative">
                <a role="button">News</a>
            </li>
            <li>
                <a href="contact.html">Contact us</a>
            </li>
        </ul>

        <!-- right actions -->
        <div class="flex items-center gap-x-[60px] xxl:gap-x-[25px] lg:gap-x-[20px]">
            
        </div>
    </div>

    <!-- mobile menu button -->
    <button type="button"
        class="ed-mobile-menu-open-btn hidden lg:inline-block text-white text-[18px] hover:text-edyellow"><i
            class="fa-solid fa-bars"></i></button>
</div>
</header>
<!-- HEADER SECTION END -->
    {% block body %}
    {% endblock %}

    <!-- FOOTER SECTION START -->
    <footer
        class="bg-edblue relative z-[1] before:absolute before:inset-0 before:-z-[1] before:bg-[url('../assets/img/footer-bg.jpg')] before:opacity-[7%] before:bg-no-repeat before:bg-cover before:bg-center text-white">
        <div class="mx-[19.71%] xxxl:mx-[14.71%] xxl:mx-[9.71%] xl:mx-[5.71%] md:mx-[12px]">
            <!-- footer top -->
            <div class="flex flex-wrap justify-between gap-[35px] pt-[100px] pb-[58px] border-b border-white/20">
                <!-- footer about -->
                <div class="max-w-[370px] xxs:max-w-full">
                    <a href="index.html" class="inline-block mb-[23px]"><img src="{% static 'img/logo-light.png' %}"
                            alt="logo"></a>
                    <p class="text-[#D9D9D9] mb-[19px]">Nullam interdum libero vitae pretium aliquam donec nibh purus
                        laoreet in ullamcorper vel malesuada sit amet enim.</p>

                    <ul class="space-y-[17px]">
                        <li class="flex items-center gap-[8px]">
                            <span class="icon"><img src="{% static 'img/call-icon-yellow.svg' %}" alt="icon"></span>
                            <a href="tel:+6108-666-0112" class="hover:text-edyellow">+6108-666-0112</a>
                        </li>

                        <li class="flex items-center gap-[8px]">
                            <span class="icon"><img src="{% static 'img/message-yellow.svg' %}" alt="icon"></span>
                            <a href="mailto:info@gmail.com" class="hover:text-edyellow">info@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END -->
    <!-- js -->
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'vendor/fslightbox/fslightbox.js' %}"></script>
    <script src="{% static 'vendor/mixitup/mixitup.min.js' %}"></script>
    <script src="{% static 'vendor/slim-select/slimselect.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <!-- <script src="assets/js/header-2.js"></script> -->
    <script src="{% static 'js/accordion.js' %}"></script>
</body>

</html>