{% load static i18n humanize %}
<div class="ed-cart-bar group">
    <div class="w-[420px] max-w-full fixed z-[999] right-0 top-0 h-full bg-white flex flex-col translate-x-[100%] duration-[400ms] group-[.active]:translate-x-0">
        <!-- heading -->
        <div class="flex items-center justify-between px-[25px] border-b border-edgray/20 pb-[23px] pt-[22px]">
            <h5 class="text-[20px]">{% trans "Your Cart" %}</h5>
            <h6>({{ cart.items.all|length|default:"0" }} {% trans "Items" %})</h6>
        </div>

        <!-- cart items -->
        <div>
            {% for cart_item in cart.items.all %}
            <!-- single cart item -->
            <div class="flex items-center gap-[20px] py-[30px] px-[25px] border-b border-edgray/20">
                <img src="{{ cart_item.course.image.url }}" alt="{{ cart_item.course.name }}" class="rounded-[10px] shrink-0" style="max-width: 74px;">
                <div class="grow">
                    <h6 class="font-medium text-[18px] text-edblue"><a href="{% url 'course_details' cart_item.course.slug %}" class="hover:text-edpurple">{{ cart_item.course.name }}</a></h6>
                    <h6 class="font-medium text-edgray">{{ cart_item.course.price|floatformat:2|intcomma }} {{ cart_item.course.currency.code3 }}</h6>
                </div>
                <button onclick="window.location.href='{% url 'remove_from_cart' cart_item.course.slug %}'" class="text-[20px] text-edgray shrink-0 hover:text-edpurple"><i class="fa-solid fa-xmark"></i></button>
            </div>
            {% empty %}
            <p class="p-[25px] text-center text-edgray">{% trans "Your cart is empty" %}</p>
            <p class="text-center">
                <a href="{% url 'course_list' %}" class="ed-btn !rounded-full !bg-transparent border border-edpurple !text-edpurple hover:!bg-edpurple hover:!text-white">{% trans "Browse Courses" %}</a>
            </p>
            {% endfor %}
        </div>

        <!-- cart bottom -->
        <div class="mt-auto px-[25px] mb-[30px]">
            <div class="flex items-center justify-between font-medium text-[18px] text-edblue mb-[33px]">
                <span>{% trans "Total" %}</span>
                <span>{{ cart.get_total_price|floatformat:2|intcomma }} {{ cart.get_currency.code3 }}</span>
            </div>
            <div class="space-y-[15px]">
                <a href="#" class="ed-btn w-full !rounded-[10px]">{% trans "Proceed to checkout" %}</a>
            </div>
        </div>
    </div>
</div>
<!-- sidebar -->
<div class="ed-sidebar">
    <div class="translate-x-[100%] transition-transform ease-linear duration-300 fixed right-0 w-full max-w-[25%] xl:max-w-[30%] lg:max-w-[40%] md:max-w-[50%] sm:max-w-[60%] xxs:max-w-full bg-white h-full z-[999] overflow-auto">
        <!-- heading -->
        <div class="ed-sidebar-heading p-[20px] lg:p-[20px] border-b border-edgray/20">
            <div class="logo flex justify-between items-center">
                <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="logo"></a>

                <button type="button" class="ed-sidebar-close-btn border border-edgray/20 w-[45px] aspect-square shrink-0 text-black text-[22px] rounded-full hover:text-edpurple"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>

        <!-- mobile menu -->
        <div class="ed-header-nav-in-mobile"></div>
    </div>
</div>
<header class="bg-edblue ed-header--2 relative z-[2] px-[7.9%] xxxxl:px-[6.5%] xxxl:px-[1%] lg:px-[15px] py-[25px] xxs:py-[16px] flex items-center justify-between to-be-fixed">
    <div class="logo xxs:max-w-[40%]"><a href="{% url 'home' %}"><img src="{% static 'img/logo-light.png' %}" alt="logo" class="logo"></a></div>
    <div class="flex lg:items-center lg:gap-[30px]">
        <div class="flex lg:flex-col items-center gap-[60px] xxl:gap-[25px] xl:gap-[30px] md:gap-y-[15px]">
            <ul class="to-go-to-sidebar-in-mobile ed-header-nav flex lg:flex-col gap-x-[43px] xxl:gap-x-[33px] font-kanit text-[17px] font-normal">
                <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
                <li><a href="{% url 'course_list' %}">{% trans "Courses" %}</a></li>
                <li><a href="{% url 'teachers' %}">{% trans "Teachers" %}</a></li>
                <li><a href="{% url 'contact' %}">{% trans "Contact us" %}</a></li>
            </ul>

            <!-- right actions -->
            <div class="flex items-center gap-x-[60px] xxl:gap-x-[25px] lg:gap-x-[20px]">
                <button class="ed-cart-opener-btn group">
                    <i class="fa-solid fa-cart-shopping text-[15px] text-white group-hover:text-edyellow"></i>
                    {% if cart.items.exists %}<sup class="ed-cart-count text-[15px] text-white bg-edyellow rounded-full align-super" style="padding: 0 8px;">{{ cart.items.count }}</sup>{% endif %}
                </button>
                {% if user.is_authenticated %}
                <a href="{% url 'learning_board' %}" class="ed-btn to-go-to-sidebar-in-mobile lg:m-[20px]">{% trans "Learning Board" %}</a>
                {% else %}
                <a href="{% url 'signup' %}" class="ed-btn to-go-to-sidebar-in-mobile lg:m-[20px]">{% trans "Join Us" %}</a>
                {% endif %}
            </div>
        </div>

        <!-- mobile menu button -->
        <button type="button" class="ed-mobile-menu-open-btn hidden lg:inline-block text-white text-[18px] hover:text-edyellow"><i class="fa-solid fa-bars"></i></button>
    </div>
</header>