{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Sign Up{% endblock title %}
{% block body %}
<section class="py-[120px] xl:py-[80px] md:py-[60px] text-center">
    <div class="container mx-auto max-w-[500px] px-[12px]">
        <h2 class="text-[40px] md:text-[35px] sm:text-[30px] xxs:text-[28px] font-semibold text-edblue mb-[20px]">Sign Up</h2>
        <form action="#" method="POST" class="space-y-[20px] text-[16px]">
            {% csrf_token %}
            <div>
                <label for="signup-username" class="font-semibold text-edblue block mb-[8px]">Username (Optional)</label>
                <input type="text" name="username" id="signup-username" placeholder="Username" class="border border-[#ECECEC] h-[50px] px-[20px] rounded-[4px] w-full focus:outline-none">
            </div>
            <div>
                <label for="signup-email" class="font-semibold text-edblue block mb-[8px]">Email*</label>
                <input type="email" name="email" id="signup-email" required placeholder="Your Email" class="border border-[#ECECEC] h-[50px] px-[20px] rounded-[4px] w-full focus:outline-none">
            </div>
            <div>
                <label for="signup-phone" class="font-semibold text-edblue block mb-[8px]">Phone Number*</label>
                <input type="tel" name="phone_number" id="signup-phone" required placeholder="Your Phone Number" class="border border-[#ECECEC] h-[50px] px-[20px] rounded-[4px] w-full focus:outline-none">
            </div>
            <div>
                <label for="signup-password" class="font-semibold text-edblue block mb-[8px]">Password*</label>
                <input type="password" name="password" id="signup-password" required placeholder="Enter Password" class="border border-[#ECECEC] h-[50px] px-[20px] rounded-[4px] w-full focus:outline-none">
            </div>
            <div>
                <button type="submit" class="bg-edpurple h-[50px] px-[24px] rounded-[10px] text-[16px] font-medium text-white hover:bg-edblue w-full">Sign Up</button>
            </div>
        </form>
        <p class="mt-[20px] text-edgray">Already have an account? <a href="{% url 'login' %}" class="text-edpurple font-medium">Log in</a></p>
    </div>
</section>
{% endblock body %}