{% load static i18n %}
<header class="bg-edblue ed-header--2 relative z-[2] px-[7.9%] xxxxl:px-[6.5%] xxxl:px-[1%] lg:px-[15px] py-[25px] xxs:py-[16px] flex items-center justify-between to-be-fixed">
    <div class="logo xxs:max-w-[40%]"><a href="{% url 'home' %}"><img src="{% static 'img/logo-light.png' %}" alt="logo" class="logo"></a></div>
    <div class="flex lg:items-center lg:gap-[30px]">
        <div class="flex lg:flex-col items-center gap-[60px] xxl:gap-[25px] xl:gap-[30px] md:gap-y-[15px]">
            <ul class="to-go-to-sidebar-in-mobile ed-header-nav flex lg:flex-col gap-x-[43px] xxl:gap-x-[33px] font-kanit text-[17px] font-normal">
                <li class="has-sub-menu relative">
                    <a role="button" href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="about.html">About us</a>
                </li>
                <li class="has-sub-menu relative">
                    <a role="button" href="{% url 'course_list' %}">Courses</a>
                </li>
                <li class="has-sub-menu relative">
                    <a role="button">Pages</a>
                </li>
                <li>
                    <a href="{% url 'teachers' %}">Teachers</a>
                </li>
                <li class="has-sub-menu relative">
                    <a role="button">News</a>
                </li>
                <li>
                    <a href="contact.html">Contact us</a>
                </li>
            </ul>

            <!-- right actions -->
            <div class="flex items-center gap-x-[60px] xxl:gap-x-[25px] lg:gap-x-[20px]">
                
            </div>
        </div>

        <!-- mobile menu button -->
        <button type="button" class="ed-mobile-menu-open-btn hidden lg:inline-block text-white text-[18px] hover:text-edyellow"><i class="fa-solid fa-bars"></i></button>
    </div>
</header>